*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f9f9f9;
    font-family: "Work Sans", sans-serif;
}

main{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

header{
    text-align: center;
    margin-bottom: 20px;
}

img{
    width: 100px;
}

h1{
    font-family: "Fjalla One", sans-serif;
}

form{
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 100px;
}

fieldset{
    padding: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin-bottom: 15px;
}

legend{
    font-weight: bold;
    font-size: 18px;
    padding: 0 5px;
}

input, select, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border:  1px solid #CCCCCC;
    border-radius: 5px;
}

textarea{
    min-height: 100px;
}

input[type="radio"], 
input[type="checkbox"]{
    width: auto;
}

input[type="color"]{
    width: 40px;
    padding: 0 5px;
}

label{
    margin-bottom: 5px;
    display: inline-block;
}

input[type="tel"], input[type="file"]{
    margin-bottom: 0;
}

small{
    display: inline-block;
    margin-bottom: 20px;
}

input:invalid,
select:invalid,
textarea:invalid{
    border-color: red;
}

input:valid,
select:valid,
textarea:valid{
    border-color: green;
}

p{
    margin-bottom: 15px;
}

button{
    width: 100px;
    height: 30px;
    margin-right: 10px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: green;
    color: #FFFFFF;
}

button[type="reset"]:hover{
    background-color: red;
    color: #FFFFFF;
}

.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mensagem_sucesso{
    padding: 2em;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(92, 242, 120);
    font-family: "Work Sans", sans-serif;
    color: #000000;
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}